body {
    background-color: rgb(221, 118, 0);
    margin: 0 auto;    
}

header {
    text-align: center;    
}

.results-box {
    background-color: white;
    color: rgb(221, 118, 0);
    width: 80%;
    margin: 0 auto;
    padding: 10px 20px;

}
